* {
    text-align: center;
}

body {
    background-color: rgb(39, 116, 174);
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #ffd100;
    border: 0.1em solid white;
    color: #ffffff;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
}

h1 {
    font-size: 8em; 
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 99%;
    text-align: center;
    height: 2em;
}