<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/home.css' %}">
        <title>Router Secure</title>
    </head>
    <body>
        <div className="wrapper">
            <div>
                <h1><center>Welcome</center></h1>
            </div>
            <div>
                <p><center>This is the home page</center></p>
            </div>
            <div>
                <center><b style="font-size: 2em">This is a button</b>
                <div style="flex-grow: 1"/>
                <button id="button" onclick="window.location.href='http://127.0.0.1:8000/new_router/';">
                    Setup New Router
                </button>
                </center>
            </div>
        </div>    
    </body>
</html>