<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="./CSS/home.css">
        <style>
            body {
                background-color: rgb(39, 116, 174);
                font-family: Arial, Helvetica, sans-serif;
            }
        </style>
        <title>Router Secure</title>
    </head>
    <body>
        <div className="wrapper">
            <div>
                <h1 style="font-size: 10em; color:white"><center>Welcome</center></h1>
            </div>
            <div>
                <p><center>This is the home page</center></p>
            </div>
            <div>
                <center><b style="font-size: 2em">This is a button</b>
                <div style="flex-grow: 1"/>
                <Button onclick="window.location.href='http://127.0.0.1:8000/new_router/';">
                    Setup New Router
                </Button>
                </center>
            </div>
        </div>    
    </body>
</html>