<!DOCTYPE html>
<html lang="en">
        <div className="wrapper">
            <div>
                <h1>Welcome</h1>
            </div>
            <div>
                <p>This is the home page</p>
            </div>
            <div>
                <b style="font-size: 2em">This is a button</b>
                <div style="flex-grow: 1"/>
                <Button onclick="window.location.href='http://127.0.0.1:8000/new_router/';">
                    Setup New Router
                </Button>
            </div>
        </div>
</html>