<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{% static 'CSS/login.css' %}">
        <title>Router Secure</title>
    </head>
  {% if showbtn %}
  <!-- Button page-->
  <body>
    <div id="output"></div>
    <div>
      <h1>Router Checker</h1>
    </div>
    <div id="box">
      <p style="text-size:1em">When you click the button below, our program will try to log in to your router by testing some of the commonly used router passwords on the internet.  </p>
        <p>We will warn you if your password is a security risk.</p>
    </div>
    <br>
    <div>
      <form method="post">
        {% csrf_token %}
        
        <button id="btn" type="submit">Test Router</button>
        <div id="running" style="display: none;">Running...</div>
      </form>
    </div>
    <script>
        const myButton = document.getElementById("btn");
        const myDiv = document.getElementById("running")
        // myButton.addEventListener("click", function() {
        //     const myDiv = document.createElement("div");
        //     myDiv.textContent = "Running..."
        //     myButton.parentNode.replaceChild(myDiv, myButton)
        myButton.addEventListener("click", function() {
            myButton.style.display = "none";
            myDiv.style.display = "";
        });
        </script>
  </body>
  {% endif %}
  {% if results %}
  <!-- Results Page-->
  <body>
    <div id="box">
      <h1 style="font: size 2em; padding-top: 0.5em; font-weight: bold; color:#ffd100">Your router is not secure!</h1>
      <p style="font-size:2em;">We tried the following combinations:</p>
      {% for thing in results %}
        <div>{{ thing }}</div>
      {% endfor %}

       {% endif %}
     <!-- Not Secure Page-->
      {% if secure %}
      <br>
      <div style="font-size:1.5em;padding-bottom: 0.5em;color: #ffd100">Your login information is:</div>
      <div>Username: &nbsp {{ username }}</div>
      <div>Password: &nbsp {{ password }}</div>
    </div>
    <br>
  <button onclick="location.href='http://localhost:8000/fixme'">Show me how to secure my password!</button>
  <div><p style="color: white;">This will open a new window.</p></div>
  {% endif %}
 
  </body>
</html>