<!-- templates/result.html -->
<!DOCTYPE html>
<html>
  {% load static %}
  <head>
      <meta charset="utf-8">
      <link rel="stylesheet" type="text/css" href="{% static 'CSS/more_resources.css' %}">
      <title>More Resources</title>
  </head>
<body>
  <h1>More Resources</h1>
  <div id="box">
  <center><p style="font-size: 18px; font-weight: bold; color:#ffd100">Here are some more resources to help you further secure your network:</p></center>
  <center><p style="font-weight: bold">Notice: Links will redirect off this page.</p></center>
  <div><strong style="color:#ffd100">1. </strong> If our program managed to log into your router, make sure you pick a strong and unique password so that it's not as easy to guess.<br>
    <a href="https://www.security.org/how-secure-is-my-password/">Learn More</a><br>
    <br>
  </div>
  <div><strong style="color:#ffd100">2. </strong> You should change your SSID (wifi name) so that it does not reveal any personal information about you. Things such as appartment number, names, and manufacturer can help attackers break into your network.<br>
    <a href="https://helpdeskgeek.com/how-to/how-to-change-your-router-ssid-and-why-you-should/">Learn More</a><br>
    <br>
  </div>
  <div><strong style="color:#ffd100">3. </strong> Make sure the firmware (the program running on your router) is up to date. Router manufacturers provide firmware updates to patch vulnerabilities as they are discovered and keeping it up to date means that hackers have one less method of breaking in.<br>
    <a href="https://www.hellotech.com/guide/for/how-to-update-router-firmware">Learn More</a><br>
    <br>
  </div>
  <div><strong style="color:#ffd100">4. </strong> See if you have WPA3 or WPA2 options in your router settings, if so, turn them on, if not, consider updgrading to a newer router.<br>
    <a href="https://wifi-settings.com/wireless-routers/make-your-wifi-router-use-only-wpa3-security-mode/">Learn More</a><br>
    <br>
  </div>
  <div><strong style="color:#ffd100">5. </strong> Make sure "remote management" is off. Remote management prevents hackers from being able to access your router's login page from outside of your home network.<br>
    <a href="https://kb.netgear.com/20600/How-do-I-enable-or-disable-Remote-Management-on-my-NETGEAR-router">Learn More</a></br>
    <br>
  </div>
  <div><strong style="color:#ffd100">6. </strong> Turn off WPS. Routers that have a WPS button on them makes it super easy for hackers to gain access to your network with a push of a button and that would just be too easy not wouldn't it?<br>
    <a href="https://www.lifewire.com/disable-wps-on-router-4137379">Learn More</a><br>
    <br>
  </div>
  <div><strong style="color:#ffd100">7. </strong> Turn off Universal Plug and Play (UPnP). UPnP allows devices on the same network to see each other. This makes all your devices on the network vulnerable to attack if one device gets compromised.<br>
    <a href="https://nordvpn.com/blog/what-is-upnp/">Learn More</a><br>
    <br>
  </div>
  <div><strong style="color:#ffd100">8. </strong> Having guests? Consider turning on a guest network that separates your guests' devices from your personal ones.<br>
    <a href="https://www.hellotech.com/guide/for/how-to-set-up-guest-wifi-network">Learn More</a><br>
    <br>
  </div>
</body>
</html>